footer {
  text-align: center;
  text-transform: none;

  hr {
    border: none;
    height: 0.05rem;
    background-color: #333;
    width: 90%;
  }

  .social-icon {
    display: flex;
    justify-content: space-around;
    text-transform: capitalize;
    margin: 3rem auto;
    padding: 0 3rem;

    span {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    .fab {
      vertical-align: middle;
      margin-right: 1rem;
      font-size: 1.8rem;

      @include media-breakpoint-up(md) {
        font-size: 2rem;
      }
    }
  }

  h2 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.8rem;
    margin: 2rem 0;

    @include media-breakpoint-up(md) {
      font-size: 3rem;
    }
  }

  .img-slider {
    padding: 2rem 0;

    img {
      object-fit: cover;
      height: 10rem;
      @include media-breakpoint-up(sm) {
        height: 15rem;
      }

      @include media-breakpoint-up(md) {
        height: 20rem;
      }

      @include media-breakpoint-up(lg) {
        height: 25rem;
      }
    }
  }

  .copyright {
    background-color: $primary;
    color: $white;
    padding: 1.2rem;
  }
}
