body {
  letter-spacing: 0.1rem;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  overflow-x: hidden;
}

h1 {
  margin: 2rem 0;
  letter-spacing: 1.5rem;
  font-weight: 200;
}
