.title {
  text-align: center;
  position: relative;

  h1 {
    margin: 1rem 0;
  }

  .social-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;

    .fab {
      color: $gray-500;
      font-size: 1.5rem;
      margin: 0 0.5rem;
    }
  }
}

.navbar {
  padding: 0 1rem;
  border-top: 2px solid red;
  border-bottom: 2px solid red;

  .nav-item {
    margin: 0 2rem;
  }
}
