.section-content-howto {
  .blog-item {
    align-items: flex-start;
    .blog-info {
      margin: 2rem 0;

      .post-category {
        margin-right: 3rem;
      }
    }

    .post-excerpt {
      text-align: left;
    }

    .btn {
      align-self: center;
    }
  }

  .video-list {
    .video-item {
      margin-bottom: 2rem;
    }
  }
}
