.section-content {
  h2 {
    letter-spacing: 0.5rem;
  }

  .blog-items-container {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;

    .img-thumbnail {
      padding: 0;
      border: 0;
      width: 100%;
      object-fit: cover;
      object-position: 0% 10%;

      @include media-breakpoint-up(md) {
        height: 20rem;
      }

      @include media-breakpoint-up(sm) {
        height: 15rem;
      }
    }

    .post-category,
    .post-date,
    .btn {
      margin: 2rem 0;
      font-size: 0.7rem;
    }

    .entry-title {
      font-size: 1.2rem;
      letter-spacing: 0.3rem;
    }

    .post-date,
    .post-excerpt {
      text-transform: none;
      text-align: center;
    }
  }

  .blog-items-container:nth-child(3n + 2) {
    .img-thumbnail {
      height: auto;
    }
  }
}

.pagination {
  .page-item {
    margin: 0 0.4rem;
  }
}
