.header {
  position: absolute;
  color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: center;

  .social-icon {
    margin: 2rem;
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 0;
      right: 0;
    }

    @include media-breakpoint-up(lg) {
      margin: 3rem;
    }

    .fab {
      font-size: 1.5rem;
      margin: 0 0.5rem;
    }
  }
}

.carousel-inner {
  max-height: 400px;
  @include media-breakpoint-up(md) {
    max-height: 1000px;
  }

  img {
    object-fit: cover;
    width: 100%;
    min-height: 400px;
  }
}
